<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :language_id %>
    <%= form.number_field :language_id %>
  </div>

  <div class="field">
    <%= form.label :salt %>
    <%= form.password_field :salt %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :followable %>
    <%= form.check_box :followable %>
  </div>

  <div class="field">
    <%= form.label :status_id %>
    <%= form.number_field :status_id %>
  </div>

  <div class="field">
    <%= form.label :is_2fa %>
    <%= form.check_box :is_2fa %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
